/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
@import url("https://use.typekit.net/ecb2muk.css");
.description-article .box-container__numberlist ol {
  list-style: none;
  margin-left: 0; }
.description-article .box-container__numberlist li {
  counter-increment: custom; }
.description-article .box-container__numberlist ol li:before {
  content: counter(custom) " "; }
.description-article .box-container__numberlist ol li:first-child {
  counter-reset: custom; }

/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

html {
  font-family: "sofia-pro"; }

/************************** PARAGRAPH *************************/
.paragraph {
  color: #222222; }

.paragraph--fontsize-L {
  font-size: 1.125rem; }

.paragraph--fontsize-M {
  font-size: 1rem; }

.paragraph--fontsize-S {
  font-size: .875rem; }

.paragraph--fontsize-XS {
  font-size: .75rem; }

/************************** TITLE *************************/
.title {
  color: #222222; }

.title--fontsize-XXL {
  font-size: 6.25rem; }

.title--fontsize-XM {
  font-size: 5.625rem; }

.title--fontsize-XL {
  font-size: 4.375rem; }

.title--fontsize-L {
  font-size: 2.1875rem; }

.title--fontsize-M {
  font-size: 1.625rem; }

.title--fontsize-S {
  font-size: 1.125rem;
  line-height: 24px; }

.title--fontsize-XS {
  font-size: .875rem;
  color: #767676; }

/************************** TITLE *************************/
.link {
  color: #222222;
  cursor: pointer; }

.link--fontsize-S {
  font-size: .8125rem;
  text-decoration: none; }

.text--centered {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.font--weight-XL {
  font-weight: 700; }

.font--weight-M {
  font-weight: 400; }

.font--weight-S {
  font-weight: 300; }

.flex {
  display: flex; }

.flex--centered-X {
  justify-content: center; }

.padding-XL {
  padding: 1; }

/* Additonal Base Stylesheets */
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
.btn {
  background: #222222;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center; }

.btn--size-XL {
  width: 340px;
  height: 60px; }

.btn--size-L {
  width: 280px;
  height: 60px; }

.btn--size-S {
  width: 200px;
  height: 60px; }

.btn__addCart {
  background-color: white;
  color: black;
  padding: 20px; }

.box-input {
  position: relative; }
  .box-input input[type="text"] {
    height: 55px;
    width: 100%;
    border: none; }
    .box-input input[type="text"]::placeholder {
      color: #222222;
      font-size: .9rem;
      padding-left: 20px; }
  .box-input .input-text {
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase; }
    .box-input .input-text:hover {
      color: gray;
      cursor: pointer; }

.modal {
  position: absolute;
  text-align: center;
  width: 20%;
  height: 10%;
  color: white; }
  .modal p {
    transform: translateY(40%); }

.modal__sold--show {
  display: block;
  background-color: #D6001C;
  top: 10px;
  right: 10px; }
  .modal__sold--show--hide {
    display: none; }

.modal__sold--hide {
  display: none; }

.modal__new--show {
  display: block;
  background-color: white;
  color: #222222;
  font-weight: 700;
  top: 10px;
  left: 10px; }
  .modal__new--show--hide {
    display: none; }

.modal__new--hide {
  display: none; }

.modal__sale--show {
  display: block;
  background-color: #222222;
  color: white;
  font-weight: 500;
  top: 10px;
  left: 10px; }

.modal__sale--hide {
  display: none; }

.modal__reprice--hide {
  display: none; }

.modal__reprice--show {
  color: #D6001C; }

.modal__oldprice--show {
  color: #767676;
  text-decoration-line: line-through; }

.modal__underline-slider--on {
  width: 100%;
  padding-bottom: 5px;
  border: none;
  height: 12px;
  background: black; }

.container-alert {
  width: 40%;
  margin-top: 10%;
  padding: 30px; }
  .container-alert h1 {
    padding-bottom: 3%; }
  .container-alert h2 {
    padding-bottom: 4%; }
  .container-alert p {
    padding-bottom: 10%; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card p {
    margin-bottom: 5px; }

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
.nav-desktop {
  display: flex;
  padding-top: 1%;
  justify-content: space-around; }
  .nav-desktop ul li {
    display: inline; }
  .nav-desktop .links {
    width: 60%; }
    .nav-desktop .links a {
      text-transform: uppercase;
      margin-left: 15px; }
  .nav-desktop .icons li {
    margin-left: 20px; }

.nav-mobile {
  display: none; }

@media (max-width: 1050px) {
  .nav-mobile {
    display: flex;
    padding-top: 1%;
    justify-content: space-between; }
    .nav-mobile ul li {
      display: inline; }
    .nav-mobile .links {
      width: 60%; }
      .nav-mobile .links a {
        color: #222222;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 5px;
        font-size: 10px; }
        .nav-mobile .links a:hover {
          color: gray; }
    .nav-mobile .icons li {
      margin-left: 20px; }
    .nav-mobile .nav-mobile {
      display: flex; }

  .nav-desktop {
    display: none; }

  /* Style The Dropdown Button */
  .dropbtn {
    border: none;
    cursor: pointer;
    background-color: white; }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block; }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1; }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block; }

  /* Change the background color of the dropdown button when the dropdown content is shown */ }
body {
  width: 100%; }

.main80 {
  width: 80%;
  margin: 0 auto; }

main {
  width: 90%;
  margin: 0 auto; }

footer {
  position: relative;
  margin-top: 10%;
  display: grid;
  background-color: #E4E4E4;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas: " . addr comp shop help subs ." " . copy copy copy copy copy .";
  column-gap: 15px;
  row-gap: 15px; }
  footer a:hover {
    color: #C32929;
    transition: all .2s; }
  footer img:hover {
    animation: slideup .5s ease .1s 3; }
@keyframes slideup {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }
.g h2 {
  text-transform: uppercase; }
.g a {
  text-transform: capitalize; }

.box a {
  text-decoration: none; }

.container-company .box, .container-shop .box, .container-help .box, .container-subscribe .box {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 3.4rem; }

.container-address {
  height: 50vh;
  padding-top: 10%;
  grid-area: addr; }
  .container-address .nav-socialmedias ul {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    list-style: none;
    width: 75%; }
    .container-address .nav-socialmedias ul img {
      width: 1.3rem;
      height: 1.3rem; }
  .container-address .box-contact {
    padding: 40px 0 40px;
    line-height: 2rem; }
    .container-address .box-contact #country {
      border: 1px solid gren; }

.container-company {
  height: 50vh;
  padding-top: 10%;
  grid-area: comp; }

.container-shop {
  height: 50vh;
  padding-top: 10%;
  grid-area: shop; }

.container-help {
  height: 50vh;
  padding-top: 10%;
  grid-area: help; }

.container-subscribe {
  height: 50vh;
  padding-top: 5%;
  grid-area: subs; }
  .container-subscribe .nav-payments ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%; }
    .container-subscribe .nav-payments ul img {
      height: 1.3rem; }

.container-copyright {
  border-top: 1px solid #CFCDCD;
  grid-area: copy;
  height: 10vh; }

.container-copyright {
  padding-top: 50px;
  display: flex;
  justify-content: space-between; }

.box-language ul {
  display: flex; }
  .box-language ul li {
    margin-left: 20px; }

.anchor {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .anchor:hover {
    cursor: pointer; }

@media (max-width: 1050px) {
  footer {
    position: relative;
    margin-top: 10%;
    display: grid;
    background-color: #E4E4E4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "addr addr" "comp shop" "help ." "subs subs" "copy  copy";
    column-gap: 5px;
    row-gap: 40px;
    padding: 10px; }
    footer a:hover {
      color: #C32929;
      transition: all .2s; } }
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none; }
  .nav ul li {
    justify-content: space-between; }
    .nav ul li a {
      text-decoration: none;
      color: #222222; }
      .nav ul li a:hover {
        color: lightgray; }

.nav__articles {
  border: 1px solid red;
  width: 100%;
  margin: 0 auto; }
  .nav__articles ul {
    margin-top: 10%; }

.nav__cloths ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

a {
  color: #222222;
  text-transform: uppercase;
  text-decoration: none; }
  a:hover {
    color: gray; }

#bg-404 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh; }

#main-404 {
  display: flex;
  justify-content: center;
  align-content: center; }
  #main-404 article {
    width: 80%;
    margin-top: 25%; }

@media (max-width: 980px) {
  #main-404 h1 {
    font-size: 30px;
    font-weight: 900; }
  #main-404 h2 {
    font-size: 14px;
    font-weight: 500; }
  #main-404 p {
    font-size: 12px;
    line-height: 1rem;
    text-align: justify; }
  #main-404 button {
    width: 100px; } }
.title-header {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .title-header h3 {
    margin-bottom: 10px; }

.hr--bold {
  border-bottom: 2px solid gray; }

.is-close {
  height: 0px;
  overflow: hidden; }

.plus--hide {
  display: none; }

.minus--hide {
  display: none; }

.sign {
  cursor: pointer; }

.title-header h3, .title-header .sign {
  margin: 40px 0 10px; }

.title-container {
  cursor: pointer; }

#main-faq {
  width: 55%; }
  #main-faq h1 {
    margin: 10% 0 10%;
    font-weight: 900; }
  #main-faq h2 {
    margin-top: 40px;
    padding-bottom: 10px; }
  #main-faq p {
    margin-top: 25px;
    line-height: 2.3rem; }
  @media (max-width: 1050px) {
    #main-faq {
      width: 90%; } }

.main-tc {
  width: 57%;
  margin-top: 5%;
  text-align: justify; }
  .main-tc h1 {
    margin-bottom: 5%; }
  .main-tc h2 {
    margin-bottom: 20px; }
  .main-tc p {
    margin-bottom: 2rem;
    line-height: 2.3rem; }

/* Set the size of the div element that contains the map */
#map {
  height: 765px;
  /* The height is 400 pixels */
  /* The width is the width of the web page */ }

.container-stores {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "title title" "main   map";
  grid-column-gap: 20px;
  width: 80%;
  margin-top: 1%; }
  .container-stores .main-nav {
    justify-content: space-between;
    margin-bottom: 10%; }
  .container-stores .adressStores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: main; }
  .container-stores #map {
    grid-area: map;
    height: 600px; }
  .container-stores .titleStore {
    grid-area: title; }
  .container-stores h1 {
    margin: 5% 0 2%; }
  .container-stores p {
    margin-bottom: 1.7rem;
    line-height: 1.3rem; }
  .container-stores .box-input {
    border: 1px solid #E4E4E4; }
  .container-stores .card__location {
    border-top: 1px solid #E4E4E4;
    padding-top: 15px; }
  .container-stores .border-bottom-link {
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 50px;
    border-bottom: 2px solid #222222;
    transition-duration: 5s;
    transition: all .5s ease; }
    .container-stores .border-bottom-link:hover {
      width: 105px; }

@media (max-width: 1050px) {
  .container-stores {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto;
    width: 90%;
    grid-template-areas: "title" "map" "main"; }
    .container-stores h1 {
      font-size: 1.7rem;
      margin-top: 30px; } }
.header-article {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-areas: "s z i"; }
  .header-article .container {
    display: flex;
    border: 1px solid black; }
  .header-article .container-slides {
    grid-area: s;
    flex-direction: column; }
    .header-article .container-slides img {
      margin: 5px; }
  .header-article .zoom-slide {
    position: relative;
    flex-direction: column;
    grid-area: z; }
    .header-article .zoom-slide img {
      cursor: pointer; }
    .header-article .zoom-slide .prev-icon, .header-article .zoom-slide .next-icon, .header-article .zoom-slide .zoom-icon {
      position: absolute;
      transform-origin: center; }
    .header-article .zoom-slide .zoom-icon {
      bottom: 0;
      right: 0; }
    .header-article .zoom-slide .prev-icon {
      top: 50%;
      transform: translateY(-22.5px);
      left: 10px; }
    .header-article .zoom-slide .next-icon {
      transform: translateY(-22.5px);
      top: 50%;
      right: 10px; }
  .header-article .infos-slide {
    grid-area: i;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px; }
    .header-article .infos-slide .nav-article ul {
      display: flex; }
      .header-article .infos-slide .nav-article ul li {
        margin-right: 15px;
        text-transform: uppercase; }

.description-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "head head" "desc desc" "whyp whyp" "numb lini";
  column-gap: 10px;
  row-gap: 10px; }
  .description-article .box-container {
    padding: 20px;
    line-height: 2rem; }
  .description-article .box-container__header {
    grid-area: head; }
  .description-article .box-container__description {
    grid-area: desc; }
  .description-article .box-container__whyproduct {
    grid-area: whyp; }
  .description-article .box-container__numberlist {
    grid-area: numb;
    border: 1px solid red; }
  .description-article .box-container__lining {
    grid-area: lini; }
  .description-article h2 {
    margin-bottom: 15px;
    font-weight: 900; }

.main-container-thematics {
  background-color: #F5E6E0;
  position: relative;
  height: 40vh;
  width: 90vw;
  margin: 50px auto;
  overflow: hidden; }
  .main-container-thematics .cloth-img {
    position: absolute;
    width: 30vw;
    right: 20px;
    top: 20px; }
  .main-container-thematics .secondary-container-thematics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 80%;
    text-align: center; }
    .main-container-thematics .secondary-container-thematics h1 {
      color: #F5E6E0;
      text-shadow: -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222, 1px 1px 0 #222222;
      font-weight: 900; }
    .main-container-thematics .secondary-container-thematics .nav-themes {
      display: flex;
      width: 65%;
      margin: 0 auto;
      justify-content: space-around;
      font-size: .8rem; }

.container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; }

.container-price {
  display: flex; }
  .container-price .modal__reprice--show {
    margin-left: 10px; }

.container-img {
  position: relative; }
  .container-img:hover .btn__addCart {
    opacity: 100%;
    transition: all .5s; }
  .container-img img {
    margin-bottom: 10px; }
  .container-img .btn__addCart {
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
    opacity: 0; }

.section-articles {
  margin-top: 5%; }
  .section-articles .grid {
    margin: 0 auto; }
  .section-articles .grid-item {
    margin-bottom: 40px; }

/*# sourceMappingURL=styles.css.map */
