/*
Error: Invalid CSS after "...t/ecb2muk.css")": expected media query list, was ";"
        on line 5 of styles.css

1: /*
2: This file is used to contain all abstracts imports.
3: Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
4: *\/
5: @import url("https://use.typekit.net/ecb2muk.css");
6: /*
7: This file is used to contain all base imports.
8: Files inside this folder can contain global styles used in the project.
9: *\/
10: *, *:before, *:after {

Backtrace:
styles.css:5
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1238:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:74:in `parse_media_query_list'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:1059:in `parse_import_arg'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:1020:in `block in parse_import_directive'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:1019:in `loop'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:1019:in `parse_import_directive'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:834:in `parse_directive'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:654:in `parse_line'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:539:in `build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:558:in `block in append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:557:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:557:in `append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:417:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:354:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...t/ecb2muk.css\")\": expected media query list, was \";\"\A         on line 5 of styles.css\A \A 1: /*\A 2: This file is used to contain all abstracts imports.\A 3: Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.\A 4: */\A 5: @import url(\"https://use.typekit.net/ecb2muk.css\");\A 6: /*\A 7: This file is used to contain all base imports.\A 8: Files inside this folder can contain global styles used in the project.\A 9: */\A 10: *, *:before, *:after {"; }
