//background of the 404.html page
#bg-404 {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#main-404 {
    display: flex;
    justify-content: center;
    align-content: center;

    article {
        width: 80%;
        margin-top: 25%;
        
    }

}

@media (max-width:980px) {
    #main-404  {
        h1 {
            font-size: 30px;
            font-weight: 900;
        }

        h2 {
            font-size: 14px;
            font-weight: 500;
        }

        p {
            font-size: 12px;
            line-height: 1rem;
            text-align: justify;
        }
        button {
            width: 100px;
        }
    }
}


