.title-header {
    border-bottom: 1px solid lightgray;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;

  

    h3 {
        margin-bottom: 10px;
    }
    
}

.hr--bold {
    border-bottom:2px solid gray;
}

.is-close {
  height: 0px;
  overflow: hidden;
}

.plus--hide {
    display: none;
}

.minus--hide {
    display: none;
}


.sign {
   cursor: pointer;
}


 .title-header {
     h3, .sign {
         margin: 40px 0 10px;
     }

    
 }

 .title-container {
     cursor: pointer;
 }


#main-faq{
    width: 55%;

    h1 {
        margin: 10% 0 10%;
        font-weight: 900;
    }

    h2 {
        margin-top: 40px;
        padding-bottom: 10px;
    }

     p {
        margin-top: 25px;
        line-height: 2.3rem;
    }

    //Increase width in little screen
    @media (max-width: 1050px) { 
        & {
            width: 90%;
        }
        
        
    }

}