.main-container-thematics {
    background-color: #F5E6E0;
    
    position: relative;
    height: 40vh;
    width: 90vw;
    margin: 50px auto;
    overflow: hidden;

    .cloth-img {
        position: absolute;
        width: 30vw;
        right: 20px;
        top: 20px;
        
    }
    
    .secondary-container-thematics {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 80%;
        text-align: center;

        h1 {
            
            color: #F5E6E0;
            text-shadow:
            -1px -1px 0 $black-font-normal,  
             1px -1px 0 $black-font-normal,
             -1px 1px 0 $black-font-normal,
              1px 1px 0 $black-font-normal;

              font-weight: 900;
        }

        .nav-themes {
            display: flex;
            width: 65%;
            margin: 0 auto;
            justify-content: space-around;
            font-size: .8rem;
        }
    }
}
//navigation filters 
.nav__cloths {
    
}

.container-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
}
//Contains prices under cloth cards
.container-price {
    display: flex;
    .modal__reprice--show{
        margin-left: 10px;

    }
}

.container-img {
  
    position: relative;
    //survoler la div fait apparaître le bouton
    &:hover {
        .btn__addCart {
            opacity: 100%;
            transition: all .5s;
        }
    }

    img {
        margin-bottom: 10px;
    }
   
    .btn__addCart {
        position: absolute;
        
        bottom: 20px; // +10px a cause du margin img
        right: 10px;
        left: 10px;
        opacity: 0;
    }
}

.section-articles {

    margin-top: 5%;
    .grid {
        margin: 0 auto;

    }
    //each card
    .grid-item {
        margin-bottom: 40px;
    }

    
}

