.header-article {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-areas: 
    "s z i";

    .container {
        display: flex;
        border: 1px solid black;
    }

    .container-slides {
        grid-area: s;
        flex-direction: column;

        img {
            margin: 5px;
        }

    }

    .zoom-slide {
        position: relative;
        flex-direction: column;
        grid-area: z;

        img {
            cursor: pointer;
        }

        .prev-icon, .next-icon, .zoom-icon {
            position: absolute;
            transform-origin: center;
        }

        .zoom-icon {
          
            bottom: 0;
            right: 0;
        }
        .prev-icon{
            top: 50%;
            transform: translateY(-22.5px);
            left: 10px;
        }

        .next-icon {
            transform: translateY(-22.5px);
            top: 50%;
            right: 10px;
        }


    }

    .infos-slide {
        grid-area: i;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
        .nav-article ul{
            display: flex;
            li {
                margin-right: 15px;
                text-transform: uppercase;
                img {
                    
                }
              
            }
        }
    }
}

.description-article {

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 2fr;
    grid-template-areas: "head head"
                         "desc desc"
                         "whyp whyp"
                         "numb lini";
    column-gap: 10px;
    row-gap: 10px;

    .box-container {
        
        padding: 20px;
        line-height: 2rem;

    }

    .box-container__header {
        grid-area: head;
    }

    .box-container__description {
        grid-area: desc;
    }

    .box-container__whyproduct {
        grid-area: whyp;

    }
    
    .box-container__numberlist {
        grid-area: numb;
        border: 1px solid red;
        

       @extend %remove-dot-ol;
    }
    
    .box-container__lining {
        grid-area: lini;

    }

    h2 {
       
        margin-bottom: 15px;
        font-weight: 900;
    }
}