   /* Set the size of the div element that contains the map */
   #map {
    height: 765px;
    /* The height is 400 pixels */
    
    /* The width is the width of the web page */        
    }

    .container-stores {
        
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: "title title" 
                             "main   map";
        
        grid-column-gap: 20px;
        width:80%;
        margin-top: 1%;

       

        .main-nav {
            justify-content: space-between;
            margin-bottom: 10%;
        }
       
        .adressStores {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-area: main;
           
            
        }
        #map {
            grid-area: map;
            height: 600px;
        }
        //h1
        .titleStore {
            grid-area: title;
        }

        
        h1 {
            margin: 5% 0 2%;
        }
    
    
        p{
            margin-bottom: 1.7rem;
            line-height: 1.3rem;
        }
        //input text
        .box-input {
            border: 1px solid $gray-el-hr;  
        }
            
        .card__location {      
            border-top: 1px solid $gray-el-hr;
            padding-top: 15px;
        }

        .border-bottom-link {
            display: inline-block;
            white-space: nowrap;
            padding-bottom: 5px;
            margin-bottom: 10px;
            width: 50px;
            border-bottom: 2px solid $gray-el-slider;
            transition-duration: 5s;
            transition: all .5s ease;
            &:hover {
                width: 105px;
            }
            
        }

        
        
    }

    //si on se trouve à moins de 700px on fait ça
    @media (max-width: 1050px ) { 

        
        .container-stores {
            
            
            grid-template-columns:1fr;
            
            grid-template-rows: 100px auto auto;

            h1 {
                font-size: 1.7rem;
                margin-top: 30px;
            }

            width:90%;

            grid-template-areas: 
            "title" 
            "map" 
            "main"   
            

           
            
        }

        // .titleStore {
        //     grid-column: 1/3;
        //     grid-row: 1/2;
        // }
        // #map {
        //    grid-column: 1/3;
        //    grid-row: 3/4;
           
            
        // }
        // .adressStores {
           
        //     grid-column: 1/3;
        //     grid-row: 2/3;
          
 
        // }


    }

  
   
   