//*********************************************************************
                        //terms&conditions.html
//*********************************************************************
.main-tc{
    width: 57%;
    margin-top: 5%;
    text-align: justify;

    h1 {
        margin-bottom: 5%;
    }

    h2 {
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 2rem;
        line-height: 2.3rem;
    }


}

