//Container of the 404.html page


.container-alert {
   
    width: 40%;
    margin-top: 10%;
    padding: 30px;

    h1{
        padding-bottom: 3%;
    }
    h2 {
        padding-bottom: 4%;
    }
    p{
        padding-bottom: 10%;
    }
}

