//Definition of buttons

.btn {
    background: $black-el-btn;
    color: $white-font;
    cursor: pointer;
    text-align: center;
}

.btn--size-XL {
    width: 340px;
    height: 60px;
}

.btn--size-L {

    width: 280px;
    height: 60px;
}

.btn--size-S {
    width: 200px;
    height: 60px;
}
//bouton présent sur shop list
.btn__addCart {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    
}
