.box-input {
    position: relative;
 

    //input 
    input[type="text"] {
        height: 55px;
        width: 100%;
        border: none;


        &::placeholder {
            color: $black-font-normal;
            font-size: .9rem;
            padding-left: 20px;

        }

    
    }
    //div contain the 'join' text
    .input-text {
        position: absolute;
        right: 10px;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;

        &:hover{
            color: gray;
            cursor: pointer;
        }

    }

   
}