.modal {
    position: absolute;
    text-align: center;
  
    width: 20%;
    height: 10%;
    color: white;
    p {
        transform: translateY(40%);
    }

   
}
//print "sold" thumbnail top right of cloth cards
.modal__sold--show {
    display: block;
    background-color: $red-bg-modal-sold;
    top: 10px;
    right: 10px;
    &--hide {
        display: none;
       
    }

}

.modal__sold--hide {
    display: none;
  }

//print "new" thumbnail left right of cloth cards
.modal__new--show {
    display: block;
    background-color: white;
    color: $black-font-normal;
    font-weight: 700;
    top: 10px;
    left: 10px;
    &--hide {
        display: none;
    }

}

.modal__new--hide {
    display: none;
  }

//print "new" thumbnail left right of cloth cards
.modal__sale--show {
    display: block;
    background-color: $black-el-btn;
    color: white;
    font-weight: 500;
    top: 10px;
    left: 10px;
    

}

.modal__sale--hide {
  display: none;
}



.modal__reprice--hide {
    display: none;
}

.modal__reprice--show {
   color: $red-bg-modal-sold;

 
}

.modal__oldprice--show {
    color: $gray-font-entitled;
    text-decoration-line: line-through;
}

// .modal__underliner-slide {
//     padding-bottom: 5px;
//     width: 10px;
//     border: none;
//     height: 12px;
//     background: black;
//     transition: all .5s ease;
//     &:hover {
//         width: 100%;
//     }
    

// }


.modal__underline-slider--on {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    height: 12px;
    background: black;
}