//Font assigned all site
html {
    font-family:"sofia-pro";
}

/************************** PARAGRAPH *************************/
.paragraph {
    color: $black-font-normal;
}

.paragraph--fontsize-L {
    font-size: 1.125rem; //18px
}

.paragraph--fontsize-M {
    font-size: 1rem; //16px
}

.paragraph--fontsize-S {
    font-size: .875rem; //14px
}

.paragraph--fontsize-XS {
    font-size: .75rem; //12px
}


/************************** TITLE *************************/
.title{
    color: $black-font-normal;
}


.title--fontsize-XXL {
    font-size: 6.25rem; //100px
}

.title--fontsize-XM {
    font-size: 5.625rem; //90px
}

.title--fontsize-XL {
    font-size: 4.375rem; //4.375rem = 70px
}

.title--fontsize-L {
    font-size: 2.1875rem; //2.1875rem = 35px
}

.title--fontsize-M {
    font-size: 1.625rem; //1.625rem = 26px
}

.title--fontsize-S {
    font-size: 1.125rem; //1.125rem = 18px
    line-height: 24px;
}


.title--fontsize-XS {
    font-size: .875rem; //.875rem; = 14px
    color: $gray-font-entitled;
}

/************************** TITLE *************************/
.link {
    color: $black-font-normal;
    cursor: pointer;
}

.link--fontsize-S {
    font-size: .8125rem; //13px
    text-decoration: none;
    
}


//Text
.text--centered{
    text-align: center;
    
}

.uppercase {
    text-transform: uppercase;
}


//weight of police 
.font--weight-XL {
    font-weight: 700;
}

.font--weight-M {
    font-weight: 400;
}

.font--weight-S {
    font-weight: 300;
}

