//*********************************************************************
                        //MAIN FOOTER 
//*********************************************************************

$heightElementsTop : 50vh;  //height of the top elements of footer
$heightElementBottom : 10vh; //height of the bottomest elements of footer
$paddingElement : 10%;
//template of grid footer
footer  {
    position: relative;
    margin-top: 10%;
    display: grid;
    background-color: $gray-bg-footer;
    grid-template-columns:1fr 2fr 1fr 1fr 1fr 2fr 1fr;

    grid-template-areas: " . addr comp shop help subs ."
                         " . copy copy copy copy copy .";

    column-gap: 15px;
    row-gap: 15px;

    a:hover{
        color: $red-bg-circle;
        transition: all .2s;
    }

    // a fun icons transition
    img:hover {
    
        animation: slideup .5s ease .1s 3;

        @keyframes slideup {
            0% { transform: translateY(0); }
            50%   { transform: translateY(-15px); }
            100%   { transform: translateY(0); }
          }
        
    }



}
//all blocs 
.g {
    

    //define style of h2
    h2 {
        text-transform: uppercase;
    }
    //define style of links
    a {
        text-transform: capitalize;
    }
    
}
//disable all text decoration of a
.box {
    
    a {
        text-decoration: none;
    }
}

 .container-company, .container-shop, .container-help, .container-subscribe {
    .box{
        // background-color: red;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        text-align: left;
        line-height: 3.4rem;

    }
}

//GRID CONTAINER ADRESS
.container-address {
    height: $heightElementsTop;
    padding-top: $paddingElement;
    grid-area: addr;

    //social media nav
    .nav-socialmedias ul{
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        list-style: none;
        width: 75%;
        //change the icon's size
        img {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    
    //box with contact 
    .box-contact {
        padding:40px 0 40px;
        line-height: 2rem;
        //create a space between country and mail
        #country {
           border: 1px solid gren;
        }
    }




}
//GRID CONTAINER COMPANY
.container-company {
    height: $heightElementsTop;
    padding-top: $paddingElement;
    grid-area: comp;

  

}
//GRID CONTAINER SHOP
.container-shop {
    height: $heightElementsTop;
    padding-top: $paddingElement;
    grid-area: shop;



}
//GRID CONTAINER HELP
.container-help {
    height: $heightElementsTop;
    padding-top: $paddingElement;
    grid-area: help;


}
//GRID CONTAINER SUBSCRIBES
.container-subscribe {
    height: $heightElementsTop;
    padding-top: 5%;
    grid-area: subs;

    
    .nav-payments ul {
        display: flex;
        justify-content: space-between;
       
        list-style: none;
        width: 100%;

        img {
            
            height: 1.3rem;
        }

    }
   

    



}
//GRID CONTAINER ADRESS
.container-copyright{
    border-top: 1px solid $gray-el-hrfooter;
    grid-area: copy;
  
    height: $heightElementBottom;
 
}


.container-copyright {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
   
}

.box-language {
    ul {
        display: flex;
        li{
            margin-left: 20px;
        }
    }
}

.anchor {
    display: flex;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
   justify-content: center;
   align-items: center;

   &:hover {
       cursor: pointer;
       
   }

}


//navigation for the screen < 1050px
@media (max-width: 1050px) { 
    //template of grid footer
    footer  {
        position: relative;
        margin-top: 10%;
        display: grid;
        background-color: $gray-bg-footer;
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(5, 1fr);

        grid-template-areas: "addr addr"
                            "comp shop"
                            "help ."
                            "subs subs"
                            "copy  copy";

        column-gap: 5px;
        row-gap: 40px;
        padding: 10px;

        a:hover{
            color: $red-bg-circle;
            transition: all .2s;
        }

    }


}