
//navigation for the screen > 1050px
.nav-desktop {

    display: flex;
    padding-top: 1%;
    justify-content: space-around;
    

    ul li{
        display: inline;
        
    }

    .logo {
    }

    .links{
        
        width: 60%;
        a {
          
            text-transform: uppercase;
            margin-left: 15px;
        }
        
    }

    .icons {
        li {
            margin-left: 20px;
        }

    }


}
//mobile navigation is hidden
.nav-mobile {
    display: none;
}

//navigation for the screen < 1050px
@media (max-width: 1050px ) { 
    .nav-mobile {
        display: flex;
        padding-top: 1%;
        justify-content: space-between;

        ul li{
            display: inline;
            
        }
    
      
        .links{
            
            width: 60%;
            a {
                color: $black-font-normal;
                text-transform: uppercase;
                text-decoration: none;
                margin-left: 5px;
                font-size: 10px;
    
                &:hover{
                    color: gray;
                }
            }
            
        }
    
        .icons {
            li {
                margin-left: 20px;
            }
    
        }
        //mobile navigation is visible
        .nav-mobile {
            display: flex;
        }

      
        
        
    
    }
    //hide the desktop navigation when the screen < 1050
    .nav-desktop {
        display: none;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;

    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
   

    }