.nav {
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            justify-content: space-between;

            a {
                text-decoration: none;
                color: $black-font-normal;
            
                &:hover {
                    color: lightgray;
                }
            }

        }

    }

   
}

//Shop single page
.nav__articles {
    border: 1px solid red;
    ul {
        margin-top: 10%;
        
    }

    width: 100%;
    margin: 0 auto;
}





.nav__cloths {
    ul {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
