%remove-dot-ol {
    ol
    {
        list-style: none;
        margin-left: 0;
    }

    li
    {
        counter-increment: custom;
    }

    ol li:before
    {
        content: counter(custom) " ";   
    }

    ol li:first-child {
        counter-reset: custom;
    }


}