//COLORS
//background-color
$white-bg-body: #D3D3D3;
$gray-bg-footer: #E4E4E4;
$pink-bg-card: #F5E6E0;
$red-bg-circle: #C32929;
$green-bg-men-variation : #EAE9E7;
$red-bg-modal-sold : #D6001C;

//fontscolors
$black-font-normal: #222222;
$black-font-icon: #000000;
$gray-font-entitled: #767676;
$red-font-sold: #D6001C;
$red-font-deal:  #C32929;
$white-font: #FFFFFF;

//Elementscolors
$gold-el-star: #EEBA36;
$red-el-hearth: #FF0000;
$goldluxe-el-circleshop: #B9A16B;
$gray-el-hr: #E4E4E4;
$gray-el-hrfooter: #CFCDCD;;
$black-el-btn: #222222;
$gray-el-slider: #222222;

//mieux
// $color-confirmation-white;